@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  transition: background-color 0.4s ease-in-out;
  scrollbar-width: 6px;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

/* Firefox */
html {
  scrollbar-width: thin;
}
